/* 헤더, 푸터, 전체 레이아웃 */

header {
  width: 100%;
  height: 120px;
  background-color: #38488D;
  box-shadow: 0 2px 15px rgba(1, 27,137, 0.3);
  margin-bottom: 48px;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
}

.nav-icon {
  width: 70px;
}

.nav-logo {
  width: 255px;
}

/* footer */

footer {
  width: 100%;
  background-color: #011B89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 96px;
}

footer > p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.hidden {
  display: none;
}