body {
  padding: 80px 64px;
}

.search-section {
  height: 860px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  width: 1312px;
  height: 144px;
  background-color: #2A3771;
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.cancel {
  width: 144px;
  height: 134px;
}

.search {
  width: 104px;
  height: 104px;
}

input {
  width: 985px;
  height: 100px;
  background-color: #2A3771;
  border: none;
}

input, input::placeholder {
  color: #929CCA;
  font-size: 50px;
  font-weight: 500;
}

.recommend-wrapper {
  width: 1312px;
  height: 180px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.test-title > h3, h3 {
  color: #fff;
  font-size: 50px;
}

.test-section {
  width: 1312px;
  justify-self: flex-start;
}

.test-title {
  height: 60px;
  gap: 40px;
  margin-bottom: 40px;
}