/* 색상, 폰트, 간격 같은 공통 변수 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.medium {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.black {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #38488D;
}